@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Parisienne&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Fraunces:ital,opsz,wght@0,9..144,100..900;1,9..144,100..900&family=Roboto+Slab:wght@100..900&display=swap');

:root {
    --fonte-logo: "Fraunces", serif;
    --fonte-texto: "Roboto Slab", serif;
    --fonte-cursiva: "Parisienne", cursive;
    --cor-fundo: #f3f3f3;
    --cor-primaria: #f9e470;
    --cor-primaria-hover: rgb(224, 198, 55);
    --cor-secundaria: #93c665;
    --cor-secundaria-hover: #7eb450;
    --cor-borda: #6c757d;
}

.container {
    width: 100%;
    max-width: 900px;
    margin: 40px auto;
    padding: 0 20px;
}


.pagina-titulo {
    font-family: var(--fonte-texto);
    font-size: 2.2em;
    color: #333;
    margin-bottom: 20px;
}

.perfil{
    display: flex;
    justify-content: center;
    gap: 50px;
    background-color: #fff;
    padding: 40px;
    border-radius: 20px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.07);
}


.perfil-avatar-section {
    flex: 0 0 150px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.profile-avatar {
    max-width: 250px;
    max-height: 250px;
}


#infos {
    display: flex;
    justify-content: center;
    flex-direction: column;
}
.botao {
    display: inline-block;
    margin-top: 15px;
    background-color: #93c665;
    color: #fff;
    text-decoration: none;
    padding: 10px 20px;
    border-radius: 8px;
    font-weight: 500;
    transition: background-color 0.3s;
    border: none;
    text-align: center;
}

.botao:hover {
    background-color: #00993b;
}

#descricao {
    font-family: var(--fonte-texto);
    padding: 5px;
    border-radius: 15px;
    font-size: 100%;
    outline: none;
    border: 2px solid rgb(200, 200, 200);
    background-color: transparent;
    margin: 5px;
    width: 100%;
}

