.container {
    width: 100%;
    max-width: 900px;
    margin: 40px auto;
    padding: 0 20px;
}

.back-link {
    display: block;
    margin-bottom: 1rem;
    color: #555;
    text-decoration: none;
    font-family: var(--fonte-texto);
}

input{
    font-family: var(--fonte-texto);
    padding: 5px;
    border-radius: 10px;
    font-size: 100%;
    outline: none;
    border: 2px solid rgb(200, 200, 200);
    background-color: transparent;
    margin: 5px;
    width: 100%;
}

input:focus {
    outline: none;
    border-color: var(--cor-secundaria);
}




.pagina-titulo {
    font-family: var(--fonte-logo);
    font-size: 2.2em;
    color: #333;
    margin-bottom: 20px;
}

.perfil{
    display: flex;
    gap: 50px;
    background-color: #fff;
    padding: 40px;
    border-radius: 20px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.07);
}


.perfil-avatar-section {
    flex: 0 0 150px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.profile-avatar {
    max-width: 250px;
    max-height: 250px;
}


#infos {
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}


