.container {
    width: 100%;
    max-width: 900px;
    margin: 40px auto;
    padding: 0 20px;
}




.pagina-titulo {
    font-family: var(--fonte-logo);
    font-size: 2.2em;
    color: #333;
    margin-bottom: 20px;
}

.perfil{
    display: flex;
    justify-content: center;
    gap: 50px;
    background-color: #fff;
    padding: 40px;
    border-radius: 20px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.07);
}


.perfil-avatar-section {
    flex: 0 0 150px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.profile-avatar {
    max-width: 250px;
    max-height: 250px;
}


#infos {
    display: flex;
    justify-content: center;
    flex-direction: column;
}
.botao-tags {
    display: inline-block;
    margin-top: 15px;
    background-color: #93c665;
    color: #fff;
    text-decoration: none;
    padding: 10px 20px;
    border-radius: 8px;
    font-weight: 500;
    transition: background-color 0.3s;
}

.botao-tags:hover {
    background-color: #00993b;
}

