.container {
    width: 100%;
    max-width: 900px;
    margin: 40px auto;
    padding: 0 20px;
}




.pagina-titulo {
    font-family: var(--fonte-logo);
    font-size: 2.2em;
    color: #333;
    margin-bottom: 20px;
}

.perfil{
    display: flex;
    justify-content: center;
    gap: 50px;
    background-color: #fff;
    padding: 40px;
    border-radius: 20px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.07);
}


.perfil-avatar-section {
    flex: 0 0 150px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.profile-avatar {
    max-width: 250px;
    max-height: 250px;
}


#infos {
    display: flex;
    justify-content: center;
    flex-direction: column;
}


